/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

body {
  color: #333745;
  background: url(/blog/images/bright_squares.png);
}  

img.logo {
  max-width: 100%;
}

a:link, a:visited {
  color: #1e7688;
}

a:hover {
  color: #3ea1b5;
}

.margintop {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.container {
  background: #fff;
  box-shadow: 0 0 15px #909090, 0 0 25px #ddd inset;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border: 1px solid #b0b0b0;
  border-top: none;
}

pre, code {
  font-family: Menlo, Monaco, monospace;
}

code {
  background-color: #f0f2f1;
  padding: 1px 2px 1px 2px;
  border-radius: 4px;
  border: 1px solid #dae2dd;
}

pre code {
  background: none;
  padding: none;
  border-radius: none;
  border: none;
}

th {
  background-color: #f0f2f1;
  font-weight: bold;
}

td, th {
  padding: 5px 10px;
  border: 1px solid #dbdde5;
}

ul {
  list-style-type: disc;
}


ul li {
  margin-left: 14px;
  margin-bottom: 3px;
}


/* List of posts */

ul li.post {
  border-bottom: 1px dotted #dbdde5;
  padding-top: 11px;
  padding-bottom: 11px;
  margin: 0;
}

ul li.post:first-child {
  border-top: 1px dotted #dbdde5;
}

ul li.post a {
  float: left;
}

ul li.post div {
  clear: both;
}

ul li.post span.post-date {
  float: right;
}

span.post-date {
  color: #a0aba5;
  text-transform: uppercase;
  letter-spacing: 1px;
}

ul.post {
  list-style-type: none;
}

/* Footer */

footer {
  margin-top: 40px;
  border-top: 1px solid #dbdde5;
}

footer p {
  padding-top: 20px;
  text-align: center;
  color: #6f7072;
}

/* Posts */

p img {
  max-width: 100%;
  display: block;
  margin: 35px auto !important;
  box-shadow: 0 0 12px #ececec;
}

article header {
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdde5;
}

div.post-metadata {
  color: #a0aba5;
}

.post-metadata-dot {
  color: #d1d9d5;
  padding-left: 5px;
  padding-right: 5px;
}

h1, h1 a:link, h1 a:visited, h1 a:hover, h2, h3, h4, h5 {
  color: #494d5c;
  text-rendering: optimizelegibility;
}

h1 a {
  text-decoration: none;
}

/* Navigation */

div.nav { text-align: right }
ul.nav { list-style-type: none;  letter-spacing: 1px; }
ul.nav li.active { font-style: italic; color: #999aa0; }
ul.nav li.active:before { content: "{"; font-style: normal; }
ul.nav li.active:after { content: "}"; font-style: normal; }



/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  div.nav { text-align: center; }
  ul.nav li { display: inline; }
  div.header-left { text-align: center; }
  span.post-date { 
    letter-spacing: 0; 
    font-size: 0.8em; 
    display: block!important;
    float: none!important;
  }
  span.post-date:before { content: "("; }
  span.post-date:after  { content: ")"; }
  ul li.post a { display: block; float: none; }
  body { background: none; }
  .container { box-shadow: none!important; border: none; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
