/* @override http://localhost:3000/assets/style.css */

html {
  font-family: Georgia, Palatino, Times, 'Times New Roman', serif;
  background: #dbe4ef;
}

body {
  width: 75%;
  margin:  auto;
  padding: 2.6em;
}

#head h2 {
  display: inline;
}

#head ul {
  font-style: italic;
  display: inline;
  padding-left: 3em;
}

#head ul li {
  display: inline;
  list-style: none;
  margin-right: 1em;
}

h1, h2 {
  font-family: Helvetica, Arial;
  font-weight: bold;
  font-size: 2em;
}

#head h2 a:link, #head h2 a:visited {
  color: #7e8790!important;
  text-transform: uppercase;
}

#main h1 {
  line-height: 40px;
  padding-bottom: 0.6em;
}

#main h2, #main h3 {
  margin-top: 1em;
  font-weight: bold;
}

#main h2 {
  font-size: 1.1em;
}

#main h3 {
  color: #3c3f42;
}

#main p, #main ol, #main ul {
  padding: 0.6em 0;
  font-size: 0.9em;
}

#main ol li {
  list-style: decimal inside;
}

div.connect {
  margin-top:  1em;;
  float:  left;
}

div.license, form input, code, pre, textarea {
  font-family: Consolas, "Bitstream Vera Sans Mono", "Andale Mono", Monaco, "DejaVu Sans Mono", "Lucida Console", monospace
}

#main ul li {
  list-style: square inside;
}

#main div.connect li {
  padding: 0.3em;
  list-style: none;
}

a {
  text-decoration: none;
}

a:link, a:active, a:visited {
  color: #339;
}

a:hover {
  color: #34a;
}

img {
  vertical-align: text-bottom;
}

.art_img {
  text-align: center;
}

.art_img img {
  box-shadow: #bfc7d1 0 0 10px;
}

.date {
  font-style: italic;
  color: #9499a3;
}

span.active {
  color: #58698a;
}

pre, textarea {
  font-size: 0.8em;
  padding: 0.3em;
  margin: 0.6em 0;
}

div.highlighted {
  background: #e8ecf5;
  border: 1px solid #ccd;
  box-shadow: #bfc7d1 0 0 5px;
}

div.highlighted code {
  float: right;
  opacity: 0.6;
}

code {
  border: 1px solid #dadada;
  background-color: #fbfbfb;
  padding: 0.1em;
  margin: 0.2em;
  box-shadow: #dde 0 0 3px;
  opacity: 0.75;
}

code:hover {
  opacity: 0.9;
}

blockquote {
  padding: 0.6em;
  margin: 0.6em;
  border: 1px solid #ccd;
  background-color: #d1dbee;
  box-shadow: #bfc7d1 0 0 5px;
}

div.section {
  padding-bottom: 2em;
  margin-bottom: 1em;
}

div.license {
  font-size: 0.6em;
  margin-top: 2em;
  padding: 1em;
  border-top: 1px solid #bbc;
  text-align: center;
}

form {
  margin: 0.6em;
}

form input {
  background: #eef;
  padding: 0.2em;
  margin: 0.1em;
  border: 1px solid #bbc;
  box-shadow: #ccd 0 0 5px;
}

iframe {
  padding: 0.2em;
  margin: 0.6em;
  border: 1px solid #bbc;
  box-shadow: #ccd 0 0 5px;
}
