html {
  background: #c9b49f url('/assets/images/background.png') top repeat-x;
  font-family:Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}

body {
  width: 70%;
  margin:  auto;
  padding: 2.6em;
  padding-top: 0;
  color: #1d181f;
}

#banner {
  text-align: center;
}

#navigation, div.license, form input, code, pre, textarea {
  font-family:'Monaco',Consolas,'Lucida Console','DejaVu Sans Mono',monospace;
}

#navigation {
  font-size: 1.2em;
  margin-top: 40px;
}

#navigation ul {
  text-align: center;
}

#navigation ul li {
  display: inline;
  margin-left: 48px;
}

#navigation ul li a {
  color: #58698a;
}

#navigation ul li a:hover {
  color: #45516a;
  text-decoration:underline
}

#navigation ul li .active {
  color: #838891;
}

#navigation ul li .active:before {
  content: '{';
  color: #6d727c;
}

#navigation ul li .active:after {
  content: '}';
  color: #6d727c;
}

div#main {
  margin-top: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #3b424c;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.6em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.2em;
}

h2, h3 {
  margin-top: 1em;
  margin-bottom: 0.4em;
}

td {
  padding: 0.5em;
}

a, a:link, a:active, a:visited {
  text-decoration: none;
  color: #305173;
}

a:hover {
  color: #306e73;
}

img {
  vertical-align: middle;
}

p {
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

label {
  margin-left: 2em;
  font-size: 0.9em;
  font-weight: bold;
}

#main div.connect li {
  margin-top: 0.6em;
  list-style: none;
}

div.license {
  font-size: 0.6em;
  margin-top: 36px;
  padding-top: 18px;
  border-top: 1px solid #b29c85;
  text-align: center;
}

#main ol li {
  list-style: decimal inside;
}

#main ul li {
  list-style: square inside;
}

blockquote {
  margin: 0.6em;
  margin-top: 1.4em;
  border: 1px solid #b29c85;
  padding: 1em;
  padding-left: 58px;
  font-style: italic;
  background: #d2baa1 url('/assets/images/quote.png') no-repeat center left;
}

code {
  background: #d2baa1;
  border: 1px solid #b29c85;
  font-size: 0.8em;
  padding: 0.3em;
  margin: 0.1em;
  opacity: 0.9;
}

code:hover {
  opacity: 1;
}

form {
  margin: 1.6em;
}

form input {
  background: #d2baa1;
  border: 2px solid #b29c85;
  font-size: 0.8em;
  padding: 0.3em;
  margin: 0.1em;
  margin-left: 0.6em;
  font-weight: normal;
}

.date {
  font-style: italic;
  font-weight: normal;
  font-size: 0.6em;
}


/*

.art_img {
  text-align: center;
}

.art_img img {
  box-shadow: #bfc7d1 0 0 10px;
}

.date {
  font-style: italic;
  color: #9499a3;
}

form {
  margin: 0.6em;
}

iframe {
  padding: 0.2em;
  margin: 0.6em;
  border: 1px solid #bbc;
  box-shadow: #ccd 0 0 5px;
}
*/
