---
layout: default
---

<article>
  <header>
    <h1 class="remove-bottom post-title">
      <a href="{{ page.url }}">{{ page.title }}</a>
    </h1>
    <div class="post-metadata">
      <span class="post-date">// {{ page.date | date_to_string }}</span>
      <span class="post-metadata-dot">&bull;</span>
      by {% if page.author %}
        {{ page.author }}
      {% else %}
        Vikhyat Korrapati
      {% endif %}
    </div>
  </header>
  {{ content }}
</article>

<section>
  <hr>
  <h4>Let me know what you thought of this post!</h4>
  <p>Feel free to <a href="https://twitter.com/vikhyatk">reach out via twitter</a> or send an email to <a id="my-email">c at this domain</a>!</p>
</section>

<script>
  var adr = decodeURIComponent('c%40v') + "ikhyat.net";
  document.getElementById("my-email").innerHTML = adr;
  document.getElementById("my-email").setAttribute('href', 'mailto:' + adr);
</script>
