--- 
title: Code
---

<ul>
<% items_under(:code).each do |i| %>
  <li><%= link_to i[:title], i %></li>
<% end %>
</ul>

<h2>Programs</h2>

<p>All of the code described below can be found at my 
<a href="http://github.com/vikhyat">Github account</a>.</p>

<h3>Theca</h3>
<p><a href="http://github.com/vikhyat/theca">Theca</a> is a tiny command-line 
frontend to MPG123. I wrote it because I wanted an extremely simple, lightweight 
mp3 player and didn't find anything that fit what I had in mind.</p>

<h3>Zenity.rb</h3>
<p><a href="http://github.com/vikhyat/zenity.rb">Zenity.rb</a> is a rubygem that 
serves as a frontend to <a href="http://freshmeat.net/projects/zenity">Zenity</a>. 
It makes it easier for Ruby scripts to use GTK+ dialog boxes for I/O.</p>

<h3>Similar Sounding Words</h3>
<p><a href="http://github.com/vikhyat/similar-sounding-words">Similar Sounding 
Words</a> uses the Soundex and Levenshtein distance algorithms to return a list of 
words that sound similar to a given one.</p>

<h3>Permio</h3>
<p><a href="http://github.com/vikhyat/permio">Permio</a> is a ruby script that I 
built to generate a signature gallery. It uses Galleria, a jQuery image 
slideshow plugin.</p>

<h3>Ruby Starter Pack for the 2010 Google AI Challenge (Planet Wars)</h3>
<p><a href="http://github.com/vikhyat/ai-contest-ruby">Github repository.</a></p>