---
title: Credits
---

<p>This site is compiled using <a href="http://nanoc.stoneship.org/" target="_blank">nanoc</a>.
Rendering of mathematical content is done by 
<a href="http://www.mathjax.org/" target="_blank">MathJax</a>. Syntax highlighting is done using
<a href="http://pygments.org/" target="_blank">Pygments</a>. Some of the icons on the home page are from the 
<a href="http://www.komodomedia.com/blog/2009/06/social-network-icon-pack/" target="_blank">Komodo Social Network
Icon Pack</a>.</p>
